name: Generate GitHub Pages

on:
  push:
    branches:
    - master
    - gh-pages
    paths:
    - '.github/workflows/update-site.yml'
  repository_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: SSH Authentication
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Checkout kalterkrieg/krg-development master branch
      uses: actions/checkout@v2
      with:
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
        ref: master
        path: ''
        repository: 'kalterkrieg/krg-development'
    - name: Checkout master branch
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        ref: master
        path: gh-pages
    - name: Generate webpage
      uses: Yard1/hoi4-icon-search-action@master
      with:
        goals: './interface/KRG_goals.gfx'
        ideas: './interface/KR_ideas.gfx ./interface/KR_ideas_africa.gfx ./interface/KR_ideas_americas.gfx ./interface/KR_ideas_asia.gfx ./interface/KR_ideas_europe.gfx, ./interface/ideas.gfx'
        texticons: './interface/KRG_texticons.gfx'
        events: './interface/KRG_event_country_pictures.gfx'
        newsEvents: './interface/KRG_event_news_pictures.gfx'
        #agencies: './interface/KR_countryintelligenceagencyview.gfx'
        decisions: './interface/decisions.gfx'
        #decisionsCat: './interface/decisions_categories.gfx'
        #decisionsPics: './interface/KR_decisions_categories_pictures.gfx'
        favicon: './krg_icon.png'
        title: 'Kalterkrieg GFX Search'
        modPath: 'gh-pages'
        modifiedFiles: ${{ github.event.client_payload.files }}
    - name: Commit and push files
      run: |
        cd $GITHUB_WORKSPACE/gh-pages
        if [ -z "$(git status --porcelain)" ]; then 
          exit 0
        fi
        PYDATE=$(python -c "import datetime; print(datetime.datetime.utcnow())")
        sed -i "s/@UPDATE_DATE/${PYDATE}/g" index.html
        git config --global user.email "stormry40@gmail.com"
        git config --global user.name "Flizzyclone"
        git pull --no-rebase
        git pull --no-rebase
        git add -A
        git commit -m "Update webpage (automatic)"
        git push
